button:hover {
	cursor: pointer;
}

canvas {
	border: 3px solid green;
} 
td {
	/* 	border: solid 1px blue; */
	word-wrap: break-all;
}

.table-fixed {
	table-layout: fixed;
}
 .control-btn{
 	width: 400px;
 	font-size: 2em;
 	border-radius: 5px;
 	height:100px; 
 	font-family: Arial;
 }
.control-btn:hover { 
	background-color: gray;
	color: white;
}
/*
#touchpad-control {
	width: 500px;
	height: 500px;
	border: solid 1px orange;
	border-radius: 10px;
	background-color: yellow;
}
*/
#content{
	padding:10px;
}
#velocity-info{
	padding:20px; 
}


#header-icon{
	z-index: 2;
	
}
#header-icon:hover{
	cursor: pointer;
	transition-duration:400ms;
}